In [ ]:
#install requirements
%pip install -r requirements.txt

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/52/11/9eac327a38834f162b8250aab32a6781339c69afe7574368fffe46387edf/pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 3.0 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/4a/9f/0121e375000b5e50ffdd8b25bf78d8e1a5aa4cca3f185d41265198c7b834/numpy-2.2.6-cp311-cp311-macosx_14_0_arm64.whl.metadata
  Downloading numpy-2.2.6-cp311-cp311-macosx_14_0_arm64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 3.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/asurj/miniconda3/envs/ai-demo/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/81/c4/34e93fe5f5429d7570ec1fa436f1986fb1f00c3e0f43a589fe2bbcd22c3f/pytz-2025.2-py2.py3-none-any.whl.metadata
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/5c/23/c7abc0ca0a1526a0774eca151daeb8de62ec457e77262b66b359c3c7679e/tzdata-2025.2-py2.py3-none-any.whl.metadata
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/asurj/miniconda3/envs/ai-demo/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 25.7 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.2.6-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 30.1 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 28.4 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 25.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
#import data
import pandas as pd

pd.read_csv("../data/raw/fourth_down_2023.csv")

/var/folders/_2/q8fdvpk1795d3b3yskjcv6gm0000gn/T/ipykernel_13319/673060990.py:4: DtypeWarning: Columns (49,179,180,189,190,213,214,248,249,253,254,255,260,262,263,266,267,268,269,283,284) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../data/raw/fourth_down_2023.csv")

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,245,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0,1,-0.415890,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,427,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,ARI,away,WAS,...,1,1,1.075530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,958,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,ARI,away,WAS,...,0,1,0.125728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1237,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,ARI,away,WAS,...,0,1,2.098748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1601,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,ARI,away,WAS,...,0,1,-0.807140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4485,3156,2023_22_SF_KC,2024021100,KC,SF,POST,22,SF,away,KC,...,1,0,2.397201,4.444221,4.231835,3.0,0.725122,0.725122,0.917461,8.253932
4486,3534,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0,0,0.030114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4487,3733,2023_22_SF_KC,2024021100,KC,SF,POST,22,SF,away,KC,...,0,0,1.557442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4488,4525,2023_22_SF_KC,2024021100,KC,SF,POST,22,SF,away,KC,...,0,0,0.064437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4489,4630,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0,0,2.356234,NaN,NaN,NaN,NaN,NaN,0.235265,-23.526458